pre{
    opacity: 0.8;
    position: relative;
}
textarea{
    resize: none;
}
p{
    word-break: break-all;
}
.table{
    margin-bottom: 10px;
}
.table th, .table td{
    text-align: center;
}
.progress-container{
    padding-top: 16px;
    position: fixed;
    z-index: 999;
}
.progress-container>.progress{
    width: 100%;
    height: 4px;
    margin: 0;
}
.progress-bar{
    cursor: pointer;
    width: 1%;
}

.note-article>h3{
    padding-left: 15px;
}
.note-article>h3>span{
    float: right;
    width: 25%;
    border-bottom: 1px solid black;
    position: relative;
    margin-right: 24px;
    pointer-events: none;
}
.note-article>h3 time{
    font-size: 12px;
}
.note-article>h3>span>i{
    position: absolute;
    right: -24px;
}
.note-article>p{
    text-indent: 2em;
    word-break: break-all;
}
.comment-form{
    position: relative;
}
.comment-form p{
    position: absolute;
    right: 5px;
    bottom: 0;
    text-align: right;
    width: 100%;
    opacity: 0.5;
    margin-bottom: 5px;
}
.comment label{
    margin: 0;
}
.comment p{
    padding-left: 14px;
    margin: 0;
}
.comment p>i{
    position: relative;
    left: -14px;
}
.demo-container{
    position: relative;
}
.demo-container>img{
    position: relative;
}
.demo-title{
    width: 100%;
    height: 40px;
    position: absolute;
    top: 0;
    background: blue;
    text-align: center;
    line-height: 40px;
    color: white;
}
#demo{
    position: absolute;
    top: 0;
    right: 0;
}
.firstLetter{
    font-size: 30px;
    font-style: italic;
}
.no-copy{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.annotation{
    color: blue;
    font-style: italic;
}
.go-top{
    text-align: right;
    font-size: 20px;
    margin: 0;
}
.go-top>a{
    text-decoration: none;
}
.zhanWei{
    height: 20px;
}

@media screen and (max-width: 768px){
    .navbar-brand::after{
        content: '吾尝终日而思矣，不如须臾之所学也';
        font-size: 12px;
        font-style: italic;
        opacity: 0.8;
        position: relative;
        top: -5px;
        left: 10px;
    }
}
