
.currAnchor{
    color: green !important;
    font-weight: bold;
}

hr{
    margin-bottom: 0;
}
.table-hover>tbody>tr:hover{
    background: rgba(245, 245, 245, 0.47);
}
.nav.navbar-nav>li>a{
    transition: 1s ease-out;
}
.nav.navbar-nav>li>a:hover{
    background-color: #eee;
    transition: 1s ease-in;
}
.glyphicon-search.form-control-feedback{
    pointer-events: auto;
    cursor: pointer;
}
.fa.fa-sort-down{
    position: relative;
    top: -3px;
    left: 1px;
}
footer.jumbotron{
    margin-bottom: 0;
    text-align: center;
}
.footer-info{
    margin-bottom: 0;
    text-align: start;
    font-size: 12px;
    padding: 2px 0 2px 20px;
    display: inline-block;
    width: 170px;
    font-weight: normal;
}
.footer-info>i{
    font-size: 13px;
}

@media screen and (min-width: 992px){
    body{
        background-image: url("../pic/bg-pc.jpg") !important;
        background-attachment: fixed;
    }
}
/*  大屏幕，电脑样式  */
@media screen and (min-width: 768px) and (max-width: 992px){

}
/*!*  平板样式  *!*/
@media screen and (max-width: 768px){

}