.video-title>i{
    font-size: 30px;
    position: relative;
    top: 3px;
}
.video-container{
    /*height: 500px;*/
    /*overflow: hidden;*/
}
#video{
    width: 100%;
    height: auto;
    border-radius: 2px;
}
.video-man{
    text-indent: 3em;
    margin-bottom: 15px;
}
.video-control{
    width: 100%;
    height: 40px;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.video-control>div{
    display: inline-block;
    height: 100%;
    width: 10%;
    text-align: center;
    padding: 10px;
    transition: 2s;
    cursor: pointer;
    vertical-align: top;
}
.video-control>div>i{
    font-size: 20px;
}
.video-control>div:hover{
    background: black;
    color: white;
    transition: 1.5s;
}
.video-control>.video-range{
    width: 32%;
    padding: 18px 19px;
}
.video-range:hover{
    background: none !important;
}
.video-range-container{
    width: 100%;
    height: 4px;
    position: relative;
    background: white;
    box-shadow: 0 0 40px 1px black, 0 0 6px 1px white;
}  /*   进度容器   */
.video-range-progress{
    width: 0;
    height: 100%;
    background: black;
}  /*   当前进度   */
.video-range-indicator{
    width: 8px;
    height: 8px;
    background: black;
    position: absolute;
    border-radius: 50%;
    left: 0;
    top: -2px;
    /*opacity: 0;*/
    transition: 1.5s;
}  /*   进度指示器   */
.video-range-indicator:hover {
    opacity: 1;
    transition: 0s;
}
.video-range-now{
    display: inline-block;
    width: 5%;
    font-size: 10px;
    font-weight: bold;
    height: 100%;
    line-height: 20px;
    text-align: center;
}  /*   进度时间、速度   */
/*   以上是进度控制   */
.video-control>.volume-range{
    position: absolute;
    top: -200px;
    right: 14.5%;
    width: 20px;
    height: 200px;
    z-index: 99;
    padding: 8px;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.13);
    opacity: 0;
}
.volume-range:hover{
    background: rgba(0, 125, 0, 0.7) !important;
}
.volume-range-container{
    height: 184px;
    width: 4px;
    background: black;
    /*box-shadow: 0 0 40px 1px black, 0 0 6px 1px white;*/
    opacity: 0.9;
    position: absolute;
    top: 200px;
}
.volume-range-container>.volume-range-progress{
    height: 184px;
    width: 4px;
    background: white;
}
.volume-range-container>.volume-range-indicator{
    width: 8px;
    height: 8px;
    background: black;
    position: absolute;
    border-radius: 50%;
    left: 0;
    top: 96px;
}
/*    以上是电脑端控件    */
.video-control-phone{
    height: 30px;
    width: 100%;
    font-size: 0;        /*   去除制表符造成的间距    */
}
.video-control-phone>div{
    height: 100%;
    display: inline-block;
    font-size: 20px;
    vertical-align: top;
    text-align: center;
    padding-top: 2px;
    cursor: pointer;
    border-radius: 3px;
}
.video-control-phone>div:nth-child(1){
    width: 7%;
    position: relative;
    z-index: 999;
}
.video-control-phone>div:nth-child(2){
    width: 71%;
    padding-top: 14px;
}
.video-control-phone>div:nth-child(3){
    width: 15%;
    font-size: 11px;
    padding-top: 8px;
}
.video-control-phone>div:nth-child(4){
    width: 7%;
}
/*div[data-action]:hover{*/
/*background: black;*/
/*color: white;*/
/*transition: 1s;*/
/*}*/
.video-range-phone-container{
    width: 100%;
    height: 3px;
    background: white;
    position: relative;
    box-shadow: 0 0 1px black;
}
.video-range-phone-progress{
    width: 0;
    height: 100%;
    background: black;
}
.video-range-phone-indicator{
    width: 50px;
    height: 33px;
    position: absolute;
    top: -2px;
    left: -24px;
    opacity: 0;
    transition: 2s;
}
.video-range-phone-indicator:hover{
    opacity: 1;
    transition: 0s;
}
/*    以上是手机控件    */
.video-summary{
    text-indent: 2em;
    padding: 1%;
}
.button-right{
    margin-top: 5px;
    text-align: right;
}

.user-brand{
    font-size: 30px;
    float: left;
    margin-right: 30px;
    position: relative;
    left: 10px;
    top: 5px;
}
.user-title{
    margin: 0;
    font-size: 16px;
}
.user-info{
    float: left;
}
.user-info>i.fa{
    /*font-weight: bold;*/
    font-size: 20px;
}
.user-p{
    text-indent: 2em;
    padding-left: 55px;
    padding-right: 2%;
}
.replay-container, .replay-on{
    padding-left: 55px;
    padding-right: 2%;
}
.replay-on time{
    float: right;
}
.replay-on>p:nth-last-child(1){
    text-indent: 2em;
    padding-left: 50px;
    padding-bottom: 2px;
    border-bottom: 1px silver dotted;
}


.video-container:-moz-full-screen .video-control{
    position: absolute;
    bottom: 0;
    z-index: 999;
}
.video-container:-moz-full-screen .volume-range{
    right: 15.5%;
}
/*  火狐全屏兼容  */
.video-container:-webkit-full-screen .video-control{
    position: absolute;
    bottom: 0;
    z-index: 999;
}
.video-container:-webkit-full-screen video{
    width: 100%;
    height: 100%;
}
.video-container:-webkit-full-screen .volume-range{
    right: 15.5%;
}
/*  webkit内核全屏兼容  */
.video-container:-ms-fullscreen .video-control{
    position: absolute;
    bottom: 0;
    z-index: 999;
}
.video-container:-ms-fullscreen{
    width: 100%;
    height: 100%;
}
.video-container:-ms-fullscreen .volume-range{
    right: 15.5%;
}
/*  ie全屏兼容  */
.video-container:fullscreen .video-control{
    position: absolute;
    bottom: 0;
    z-index: 999;
}
.video-container:fullscreen .volume-range{
    right: 15.5%;
}


@media screen and (min-width: 992px) and (max-width: 1198px){

}
/*   小电脑   */
@media screen and (min-width: 768px) and (max-width: 992px){
    #video{
        /*height: 400px;*/
    }
}
/*   平板   */
@media screen and (max-width: 768px){
    .navbar-brand::after{
        content: '观影别人的一生...';
        font-size: 12px;
        font-style: italic;
        opacity: 0.8;
        position: relative;
        top: -5px;
        left: 10px;
    }
}
/*   手机   */
